@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-style: normal;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.images {
  width: 200px;
  height: 200px;
  background-color: rgb(253, 243, 255);
  font-family: 'intelone-mono-font-family-regular';
  font-size: 17pt;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  margin: 20px;
  flex-direction: column;
}

.images img {
  margin-top: 20px;
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

.top {
  text-align: center;
  color: black;
  font-family: 'intelone-mono-font-family-regular';
  font-size: 50pt;
}

.images h4 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.images p {
  margin-top: 5px;
}
